.outer-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1d2327;
  overflow-x: hidden;
}

.myContainer {
  max-width: 400px;
  margin: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pt-15 {
  padding-top: 15vh;
}

.mb-20 {
  margin-bottom: 20px;
}

.myBtn {
  width: 100%;
  color: white;
  background-color: #4169e1;
  padding: 3px 0px 6px 0px;
  font-size: larger;
  border: 0;
  border-radius: 5px;
}

.myBtn:hover {
  background-color: #004dff;
}

.text {
  color: grey;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  bottom: 2px;
}

.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  width: 45%;
  height: 1px;
  background-color: #bcb9b9;
}

.myLink {
  color: #4169e1;
  font-weight: 400;
  cursor: pointer;
}

.myLink:hover {
  color: #004dff;
}
